@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
::-webkit-scrollbar-track {
  border: 3px solid #ffffff;
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  background-color: #239554;
}
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
}
html,
body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a.text-secondary:hover,
a.text-secondary:focus {
  color: #ffffff !important;
}
.nav-link-effect {
  display: inline-block;
  position: relative;
  color: #ffffff;
}
.shadow-navbar {
  filter: drop-shadow(2px 5px 5px #000000);
}
@media (hover: hover) and (pointer: fine) {
  .nav-link-effect:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    color: #ffffff;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .nav-link-effect:hover:after {
    color: #ffffff;
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
.navLink.active {
  font-weight: bold;
}
.underline {
  border-bottom: 4px solid currentcolor;
}
.text-shadow {
  filter: drop-shadow(1px 1px 10px #000000);
}
.text-shadow-big {
  filter: drop-shadow(4px 4px 10px #000000);
}
.navLink.active span {
  filter: drop-shadow(2px 2px 5px #000000);
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navLink.active span::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  color: #ffffff;
  background-color: #ffffff;
  animation: fadeInAnimation ease 0.9s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.navigation-link {
  padding-left: 40px;
  padding-right: 40px;
}
.show > .dropdown-menu {
  max-height: 800px;
  visibility: visible;
}

.dropdown-menu {
  display: block;
  max-height: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.chat-box {
  max-width: 92vw;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
}
.activeChat {
  background-color: rgba(35, 149, 84, 0.4);
}
.logo-shadow {
  filter: drop-shadow(1px 4px 4px #000000);
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-animation {
  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s; /* Firefox < 16 */
  -ms-animation: fadein 0.2s; /* Internet Explorer */
  -o-animation: fadein 0.2s; /* Opera < 12.1 */
  animation: fadein 0.2s;
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
}
