@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@media screen and (min-width: 800px) {
  ::-webkit-scrollbar-track {
    border: 3px solid #ffffff;
    background-color: #ffffff;
  }

  ::-webkit-scrollbar {
    width: 15px;
    background-color: #ffffff;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    border-left: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    background-color: #239554;
  }
}
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
}
html {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}
body {
  overflow-x: hidden;
  overflow: visible;
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a.text-secondary:hover,
a.text-secondary:focus {
  color: #ffffff !important;
}
.nav-link-effect {
  padding: 5px;
  display: inline-block;
  position: relative;
  color: #ffffff;
}
.shadow-navbar {
  filter: drop-shadow(2px 5px 5px #000000);
}
@media (hover: hover) and (pointer: fine) {
  .nav-link-effect:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    color: #ffffff;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .nav-link-effect:hover:after {
    color: #ffffff;
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
.navLink.active {
  font-weight: bold;
}
.underline {
  border-bottom: 4px solid currentcolor;
}
.text-shadow {
  filter: drop-shadow(1px 1px 10px #000000);
}
.text-shadow-big {
  filter: drop-shadow(4px 4px 10px #000000);
}
.navLink.active span {
  filter: drop-shadow(2px 2px 5px #000000);
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navLink.active span::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  color: #ffffff;
  background-color: #ffffff;
  animation: fadeInAnimation ease 0.9s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.navigation-link {
  padding-left: 40px;
  padding-right: 40px;
}
.show > .dropdown-menu {
  max-height: 800px;
  visibility: visible;
}

.dropdown-menu {
  display: block;
  max-height: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.chat-box {
  max-width: 92vw;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
}
.activeChat {
  background-color: rgba(35, 149, 84, 0.4);
}
.logo-shadow {
  filter: drop-shadow(1px 4px 4px #000000);
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-animation {
  -webkit-animation: fadein 0.2s;
  -moz-animation: fadein 0.2s;
  -ms-animation: fadein 0.2s;
  -o-animation: fadein 0.2s;
  animation: fadein 0.2s;
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
}
.navbar-shadow {
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.logo-nav {
  max-height: 70px;
}
.line {
  height: 10px;
  opacity: 100%;
  width: 30%;
  border: 2px solid;
  border-radius: 5px;
}
.longText {
  word-break: break-word;
}
.homeImg1 {
  height: 500px;
  background-image: url("/img/home1.webp");
  background-position: 50% 20%;
  background-size: cover;
}
.homeImg2 {
  height: 500px;
  background-image: url("/img/home2.webp");
  background-position: 50% 20%;
  background-size: cover;
}
.homeImg3 {
  height: 500px;
  background-image: url("/img/home3.webp");
  background-position: 50% 20%;
  background-size: cover;
}
.cropper {
  height: 500px;
  max-height: 500px;
}
.allChats {
  max-height: 400px;
  overflow-y: scroll;
}
.message-80 {
  max-width: 80%;
}
.message-100 {
  max-width: 100%;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  background-color: #fff;
  height: auto;
  padding: 0px;
  padding: 0px 0px 0px 10px;
  width: 100%;
  transform: scale(0.982) translateY(0.045rem) translateX(0.1rem);
  transition: padding 0.1s ease-in-out, transform 0.1s ease-in-out;
  border-radius: 5px 0 0 0;
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  background-color: #fff;
  height: auto;
  padding: 0px 0px 0px 10px;
  width: 100%;
  transform: scale(0.982) translateY(0.045rem) translateX(0.1rem);
  transition: padding 0.1s ease-in-out, transform 0.1s ease-in-out;
  border-radius: 5px 0 0 0;
}
.form-floating > .form-control:-webkit-autofill ~ label {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  background-color: #fff;
  height: auto;
  padding: 0px;
  padding: 0px 0px 0px 10px;
  width: 100%;
  transform: scale(0.982) translateY(0.045rem) translateX(0.1rem);
  transition: padding 0.1s ease-in-out, transform 0.1s ease-in-out;
  border-radius: 5px 0 0 0;
}
.registered-users {
  position: absolute;
  top: 10px;
  right: -10vw;
  z-index: 99;
}
.firstSlide {
  margin-top: 50px;
}
@media only screen and (max-width: 1130px) {
  .registered-users {
    margin-top: 20px;
    margin: auto;
    position: relative;
    top: 0;
    right: 0;
    max-width: 250px;
  }
  .firstSlide {
    margin-top: 20px;
  }
}
